<style>
    .google_adsense {
        text-align: center;
    }
</style>
<div class="content-left">
    <div class="popbox" style="width: 100%;">
        <div class="breadcrumb">
            <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"
                 class="breadcrumble_title breadcrumble_home">
                <a itemprop="url" href="/" rel="nofollow" class="breadcrumble_title">Trang chủ</a>
            </div>
            <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"
                 class="breadcrumble_title {class_cate_end_1}">
                <h1 style="margin: 0px; padding: 0px"><a itemprop="url" href="{cate_parent_href}/" rel="nofollow"
                                                         class="breadcrumble_title">{cate_parent_name}</a></h1>
            </div>
            <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"
                 class="breadcrumble_title {class_cate_end_2}" style="display:{display_cate_child}">
                <span itemprop="title" class="breadcrumble_title">{cate_child_name}</span>
            </div>
            <div class="clear"></div>
        </div>
        <a class="open" href=""></a>
        <a href="{href_rss}" class="rss-link2"><img src="webskins/skins/news/images/rss-icon.png" alt="rss"></a>
        <div class="collapse">
            <div class="box">
                <ul>
                    <!-- BEGIN Cate -->
                    <li><a href="{cate_href}/" class="title17">{cate_name}</a></li>
                    <!-- END Cate -->
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="news-hleft">
        <a href="{href_1}" class="news-hleft-img" title="{html_title_1}">
            <img src="{img_1}" alt="{html_title_1}">
        </a>
        <a href="{href_1}" class="highlight-hfnews" title="">{title_1}</a>
        <div class="news-hleft-description">
            {description_1}
        </div>
    </div>
    <div class="news-hright">
        <ul>
            <li><a href="{href_2}" class="title15" title="{html_title_2}">
                <img src="{img_2}" class="news-hright-img" alt="{html_title_2}">
                {title_2}
                <div class="clear"></div>
            </a>
            </li>
            <li><a href="{href_3}" class="title15" title="{html_title_3}">{title_3}</a></li>
            <li><a href="{href_4}" class="title15" title="{html_title_4}">{title_4}</a></li>
            <li><a href="{href_5}" class="title15" title="{html_title_5}">{title_5}</a></li>
            <li><a href="{href_6}" class="title15" title="{html_title_6}">{title_6}</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="advertising-left-f1"></div>
    <div class="google_adsense" style="margin-bottom: 5px">
    </div>
    <div class="news-list">
        <h2 class="news-list-title"><a href="{cate_desc_href}">{cate_desc}</a></h2>
        <div class="news-listitem">
            <!-- BEGIN Row -->
            <div class="news-list-oneitem">
                <a href="{href}" class="news-list-oneitemimg" title="{html_title}">
                    <img src="{img}" alt="{html_title}">
                </a>
                <div class="news-listroneitem">
                    <a href="{href}" class="title18" title="{html_title}">{title}<br/><span
                            class="date-top">{public}</span></a>
                    <div class="news-listroneitem-description">
                        {description}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <!-- END Row -->
        </div>
        <div class="pagelist">
            {paging}
        </div>
    </div>

    <div class="google_adsense">
        {mobile_1}{destop_1}
    </div>
    <!--Tin tức đáng quan tâm khác-->
    <div class="offer-news">
        <div class="hdb-news">
            <h5 class="hdb-news">
                <a href="news.html">Tin tức đáng quan tâm khác</a>
            </h5>
        </div>
        <div class="offer-newslist">
            <div class="offer-newslist-item">
                <h5 class="offer-newslist-title"><a href="{cate1_change_href}/">{cate1_change_name}</a></h5>
                <ul>
                    <li>
                        <a href="{href_cate11}" class="title15" title="{html_title_cate11}">
                            <img src="{img_cate11}" class="offer-newslist-img" alt="{html_title_cate11}">
                            {title_cate11}
                        </a>
                    </li>
                    <li><a href="{href_cate12}" class="title15" title="{html_title_cate12}">{title_cate12}</a></li>
                    <li><a href="{href_cate13}" class="title15" title="{html_title_cate12}">{title_cate13}</a></li>
                    <li><a href="{href_cate14}" class="title15" title="{html_title_cate12}">{title_cate14}</a></li>
                    <li><a href="{href_cate15}" class="title15" title="{html_title_cate12}">{title_cate15}</a></li>
                </ul>
            </div>
            <div class="offer-newslist-item">
                <h5 class="offer-newslist-title"><a href="{cate2_change_href}/">{cate2_change_name}</a></h5>
                <ul>
                    <li>
                        <a href="{href_cate21}" class="title15" title="{html_title_cate21}">
                            <img src="{img_cate21}" class="offer-newslist-img" alt="{html_title_cate21}">
                            {title_cate21}
                        </a>
                    </li>
                    <li><a href="{href_cate22}" class="title15" title="{html_title_cate12}">{title_cate22}</a></li>
                    <li><a href="{href_cate23}" class="title15" title="{html_title_cate12}">{title_cate23}</a></li>
                    <li><a href="{href_cate24}" class="title15" title="{html_title_cate12}">{title_cate24}</a></li>
                    <li><a href="{href_cate25}" class="title15" title="{html_title_cate12}">{title_cate25}</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>