<div class="content-left">
    <div class="popbox" style="width: 100%;">
        <div class="breadcrumb">
            <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumble_title breadcrumble_home">
                <a itemprop="url" href="/" rel="nofollow" class="breadcrumble_title">Trang chủ</a>
            </div>
            <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumble_title">
                <a itemprop="url" rel="nofollow" class="breadcrumble_title breadcrumble_title_end">Tin tức 24h</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="tag-header">
        <h1 class="tag-header-title">Tin tức 24h</h1>
        <div class="tag-header-description">
             Báo Công lý cập nhật tin tức mới nhất nhanh chóng, chính xác nhất liên tục trong 24h qua.
        </div>
    </div>
    <div class="google_adsense" style="margin-bottom: 5px">
    </div>
    <div class="news-listitem">
        <!-- BEGIN ListRow -->
        <div class="news-list-oneitem">
            <a href="{href}" class="news-list-oneitemimg" title="{html_title}">
                <img src="{img}" alt="{html_title}">
            </a>
            <div class="news-listroneitem">
                <div class="date-top">{public}</div>
                <a href="{href}" class="title18" title="{html_title}">{title}</a>
                <div class="news-listroneitem-description">
                    {description}
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- END ListRow -->

    </div>
    <div class="pagelist">
       {paging}
    </div>
    <!--Tin liên quan-->
    <div class="detail-related">
        <h4 class="detail-related-title">Tin tức mới nhất</h4>
        <div class="detail-related-list">
            <!-- BEGIN Other -->
            <div class="detail-related-item">
                <a href="{other_link}" class="detail-related-img" title="{other_html_title}">
                    <img src="{other_img}" alt="{other_html_title}" />
                </a>
                <a href="{other_link}" class="title15" title="{other_html_title}">{other_title}</a>
            </div>
            <!-- END Other -->
            <div class="clear"></div>
        </div>
    </div>
    <div class="offer-news">
        <div class="hdb-news">
            <h5 class="hdb-news">
                <a>Tin tức đáng quan tâm khác</a>
            </h5>
        </div>
        <div class="offer-newslist">
            <div class="offer-newslist-item">
                <h5 class="offer-newslist-title"><a href="{cate1_change_href}/">{cate1_change_name}</a></h5>
                <ul>
                    <li>
                        <a href="{href_cate11}" class="title15" title="{html_title_cate11}">
                            <img src="{img_cate11}" class="offer-newslist-img" alt="{html_title_cate11}">
                            {title_cate11}
                        </a>
                    </li>
                    <li><a href="{href_cate12}" class="title15" title="{html_title_cate12}">{title_cate12}</a></li>
                    <li><a href="{href_cate13}" class="title15" title="{html_title_cate12}">{title_cate13}</a></li>
                    <li><a href="{href_cate14}" class="title15" title="{html_title_cate12}">{title_cate14}</a></li>
                    <li><a href="{href_cate15}" class="title15" title="{html_title_cate12}">{title_cate15}</a></li>
                </ul>
            </div>
            <div class="offer-newslist-item">
                <h5 class="offer-newslist-title"><a href="{cate2_change_href}/">{cate2_change_name}</a></h5>
                <ul>
                    <li>
                        <a href="{href_cate21}" class="title15" title="{html_title_cate21}">
                            <img src="{img_cate21}" class="offer-newslist-img" alt="{html_title_cate21}">
                            {title_cate21}
                        </a>
                    </li>
                    <li><a href="{href_cate22}" class="title15" title="{html_title_cate12}">{title_cate22}</a></li>
                    <li><a href="{href_cate23}" class="title15" title="{html_title_cate12}">{title_cate23}</a></li>
                    <li><a href="{href_cate24}" class="title15" title="{html_title_cate12}">{title_cate24}</a></li>
                    <li><a href="{href_cate25}" class="title15" title="{html_title_cate12}">{title_cate25}</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>