<!-- div style="text-align: center">
<script type="text/javascript" src="http://js.genieessp.com/t/164/956/a1164956.js"></script>
</div -->
<div class="defaulttt">
    <div class="evh-news">
        <h5 class="evh-news">Sự kiện nổi bật</h5>
        <button class="prev"></button>
        <button class="next"></button>
    </div>
    <div class="evh-news-list">
        <div class="jCarouselLitett">
            <ul>
                <!-- BEGIN Topic -->
                <li>
                    <div>
                        <a href="{href}" class="evh-news-img" title="{html_title}">
                            <img src="{img}" alt="{html_title}"/>
                        </a>
                        <a href="{href}" class="title15" title="{html_title}">{title}</a>
                    </div>
                </li>
                <!-- END Topic -->
            </ul>
        </div>
    </div>
</div>
<!--Footer-->
<div class="footer">
    <div class="footer-hotline" style="text-transform: none;">
        Hotline: <a href="tel:043 8247204">0243.8247.204</a> - <a href="tel:0912532315">0912.532.315</a> - <a>Email:
        conglydientu@congly.vn</a>
    </div>
    <div class="footer-menu">
        <div class="footer-menu-list">
            <h6 class="footer-menu-title">
                <a href="/hoat-dong-nganh/">Tòa án</a>
            </h6>
            <ul>
                <li>
                    <a href="/hoat-dong-toa-an/tieu-diem/" class="title15">Tiêu điểm</a>
                </li>
                <li>
                    <a href="/dien-dan-cong-ly/" class="title15">Diễn đàn Công lý</a>
                </li>
                <li>
                    <a href="/toa-an-dia-phuong/" class="title15">Tòa án địa phương</a>
                </li>
            </ul>
        </div>
        <div class="footer-menu-list"><h6 class="footer-menu-title"><a href="/phap-dinh/">Pháp đình</a></h6>
            <ul>
                <li><a href="/phap-dinh/ky-su-phap-dinh/" class="title15">Ký sự pháp đình</a></li>
                <li><a href="/phap-dinh/sau-vanh-mong-ngua/" class="title15">Tòa tuyên án</a></li>
                <!--
                <li><a href="/phap-dinh/nhat-ky-vanh-mong-ngua/" class="title15">Nhật ký vành móng ngựa </a></li>
                -->
            </ul>
        </div>
        <div class="footer-menu-list"><h6 class="footer-menu-title"><a href="/phap-luat/">Pháp luật</a></h6>
            <ul>
                <li><a href="/phap-luat/ho-so-vu-an/" class="title15">Hồ sơ vụ án</a></li>
                <li><a href="/an-ninh-hinh-su/" class="title15">An ninh hình sự</a></li>
                <!--
                <li><a href="/nhip-cau-cong-ly/" class="title15">Nhịp cầu công lý</a></li>
                -->
                <li><a href="/phap-luat/tu-van-phap-luat/" class="title15">Tư vấn pháp luật</a></li>
                <li><a href="/phap-luat/nhan-tin/" class="title15">Nhắn tin</a></li>
            </ul>
        </div>
        <div class="footer-menu-list"><h6 class="footer-menu-title"><a href="/xa-hoi/">Xã hội</a></h6>
            <ul>
                <li><a href="/xa-hoi/doi-song/" class="title15">Đời sống</a></li>
                <li><a href="/xa-hoi/gia-dinh/" class="title15">Gia đình</a></li>
                <li><a href="/xa-hoi/giao-thong/" class="title15">Giao thông</a></li>
                <!--
                <li><a href="/bao-ve-nguoi-tieu-dung/" class="title15">Bảo vệ người tiêu dùng</a></li>
                -->
            </ul>
        </div>
        <div class="footer-menu-list"><h6 class="footer-menu-title"><a href="/giai-tri/">Văn hóa - Giải trí</a></h6>
            <ul>
                <li><a href="/giai-tri/van-hoa/" class="title15">Văn hóa</a></li>
                <li><a href="/giai-tri/thoi-trang/" class="title15">Thời trang - Làm đẹp</a></li>
                <li><a href="/giai-tri/nhac/" class="title15">Nhạc</a></li>
                <li><a href="/giai-tri/phim/" class="title15">Phim</a></li>
                <li><a href="/giai-tri/hoa-hau/" class="title15">Hoa hậu</a></li>
            </ul>
        </div>
        <div class="footer-menu-list"><h6 class="footer-menu-title"><a href="/kinh-doanh/">Kinh tế</a></h6>
            <ul>
                <li><a href="/kinh-doanh/doanh-nghiep/" class="title15">Doanh nghiệp</a></li>
                <li><a href="/kinh-doanh/ngan-hang/" class="title15">Ngân hàng</a></li>
                <li><a href="/kinh-doanh/gia-vang/" class="title15">Giá vàng</a></li>
                <li><a href="/kinh-doanh/bat-dong-san/" class="title15">Bất động sản</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="footer-menu-list">
            <h6 class="footer-menu-title"><a href="/thoi-su/">Chính trị</a></h6>

        </div>
        <div class="footer-menu-list">
            <h6 class="footer-menu-title"><a href="/the-gioi/">Thế giới</a></h6>
        </div>
        <div class="footer-menu-list">
            <h6 class="footer-menu-title"><a href="/ban-doc/">Bạn đọc</a></h6>
        </div>
        <div class="footer-menu-list">
            <h6 class="footer-menu-title"><a href="/xa-hoi/suc-khoe/">Y tế</a></h6>
        </div>
        <div class="footer-menu-list">
            <h6 class="footer-menu-title"><a href="/xa-hoi/giao-duc/">Giáo dục</a></h6>
        </div>
        <div class="clear"></div>
    </div>
    <div class="footer-addrss">
        <div class="footer-ladress">
            <div class="footer-logo">
                <a href="index.html" class="footer-logo" title="">
                    <img src="webskins/skins/news/images/footer-logo.png" alt=""/>
                </a>
            </div>
            <span style="color:#000"><a href="http://toaan.gov.vn">CƠ QUAN CỦA TOÀ ÁN NHÂN DÂN TỐI CAO</a></span><br/>
            Giấy phép số 52/GP- BTTTT do Bộ Thông tin và Truyền thông cấp<br/>
            Tổng Biên tập: TRẦN ĐỨC VINH<br/>
            Phó Tổng Biên tập: Tô Thị Lan Phương - Phụ trách ấn phẩm<br/>
            Phó Tổng Biên tập: Nguyễn Thế Tâm
        </div>
        <div class="footer-raddress">
            Trụ sở Tòa soạn: 262 Đội Cấn, Ba Đình, Hà Nội<br/>
            ĐT: 024.3824.7204 - 0243.7379.192 Fax: 0243.9360.062<br/>
            Bản quyền thuộc về Báo Công lý. Cấm sao chép dưới mọi hình thức nếu không có sự chấp thuận<br/>
            <a href="/gioi-thieu-toa-soan/">Thông tin Tòa soạn</a> |
            <a href="http://conglyxahoi.net.vn" target="_blank">Chuyên trang Công lý - Xã hội</a> |
            <a href="/rss.html">Rss</a>
        </div>
        <div class="clear"></div>
    </div>
    <div style="text-align: right; padding: 10px 0; opacity: 0.5; font-size: 12px">
        <a href="https://etstech.vn/">Xây dựng và phát triển bởi công ty cổ phần giải pháp công nghệ doanh nghiệp ETS</a>
    </div>
</div>
<script type="text/javascript">
    function show_adv() {
        $.post("ajax.php?fnc=show.adv&path=news", {
                'page': '{page}'
            },
            function (data) {
                var adv = jQuery.parseJSON(data);
                $("#show_adv_1").html(adv.pos_1);
                $("#show_adv_2").html(adv.pos_2);
            }
        );
    }

    $(document).ready(function () {
        show_adv();
    });
</script>