<div class="content">
    <div class="content-left">
        <div class="highlight-news">
            <div class="highlight-fnews">
                <a href="{href_0}" class="highlight-hfnews" title="{html_title_0}">{title_0}</a>
                <a href="{href_0}" class="highlight-hfnews-img" title="{html_title_0}">
                    <img src="{img_0}" alt="{html_title_0}" title="{html_title_0}"/>
                </a>
                <div class="highlight-hfnews-description">
                    {description_0}
                </div>
            </div>
            <div class="highlight-snews-list">
                <div class="highlight-snews-item">
                    <a href="{href_1}" class="highlight-snews-img" title="{html_title_1}">
                        <img src="{img_1}" alt="{html_title_1}" title="{html_title_1}"/>
                    </a>
                    <a href="{href_1}" class="title14" title="">
                        {title_1}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="highlight-snews-item">
                    <a href="{href_2}" class="highlight-snews-img" title="{html_title_2}">
                        <img src="{img_2}" alt="{html_title_2}" title="{html_title_2}"/>
                    </a>
                    <a href="{href_2}" class="title14" title="{html_title_2}">
                        {title_2}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="highlight-snews-item">
                    <a href="{href_3}" class="highlight-snews-img" title="{html_title_3}">
                        <img src="{img_3}" alt="{html_title_3}" title="{html_title_3}"/>
                    </a>
                    <a href="{href_3}" class="title14" title="{html_title_3}">
                        {title_3}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <style>
            ul.new {
                list-style: none;
                counter-reset: item;
            }

            li.new-item {
                counter-increment: item;
                margin-bottom: 5px;
            }

            li.new-item:before {
                margin-right: 5px;
                content: counter(item);
                background: #0faffa;
                border-radius: 100%;
                color: white;
                font-weight: bold;
                width: 1.3em;
                text-align: center;
                display: inline-block;
            }
        </style>
        <div class="highlight-rightnews" id="scrollbar1" style="overflow: hidden; margin-bottom: 10px">
            <div>
                <div style="top: 0px;">
                    <ul class="new">
                        <!-- BEGIN Focus -->
                        <li class="new-item"><a href="{href}" class="title15" title="{html_title}">{title}</a></li>
                        <!-- END Focus -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="hot-leftnews">
            <!-- BEGIN New -->
            <div class="hot-leftnews-item">
                <a href="{href}" class="hot-leftnews-img" title="{html_title}">
                    <img src="{img}" alt="{html_title}" title="{html_title}"/>
                </a>
                <div class="hot-leftnews-description">
                    <div class="list-name">
                        <a href="{cate_href}/" class="title"><strong>{cate_name}</strong></a>
                    </div>
                    <a href="{href}" class="title16" title="{html_title}">
                        {title}
                    </a>
                </div>
                <div class="clear"></div>
            </div>
            <!-- END New -->
        </div>
        <div class="hot-rightnews" id="hot-leftnews-content">
            <!--Thời sự-->
            <div class="cn-news">
                <div class="hdb-news">
                    <h5 class="hdb-news">
                        <a href="/thoi-su/">Chính trị</a>
                    </h5>
                    <a href="thoi-su.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png"
                                                                alt="rss"/></a>
                </div>
                <div class="cn-news-hotitem">
                    <a href="{href_ts1}" class="cn-news-img" title="{html_title_ts1}">
                        <img src="{img_ts1}" alt="{html_title_ts1}" title="{html_title_ts1}"/>
                    </a>
                    <a href="{href_ts1}" class="titleb18" title="{html_title_ts1}">{title_ts1}</a>
                </div>
                <div class="cn-news-item">
                    <ul>
                        <li>
                            <a href="{href_ts2}" class="title15" title="{html_title_ts2}">
                                {title_ts2}
                            </a>
                        </li>
                        <li>
                            <a href="{href_ts3}" class="title15" title="{html_title_ts3}">
                                {title_ts3}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-mobile advertising-right1">
                <div class="hdb-news">
                    <h5 class="hdb-news">
                        <marquee><a>HOẠT ĐỘNG CỦA LÃNH ĐẠO TÒA ÁN NHÂN DÂN TỐI CAO</a></marquee>
                    </h5>
                </div>
                <div class="image">
                    <a href="{topic_href_1}"><img
                            src="{topic_img_1}"
                            width="100%"/></a>
                </div>
                <div class="list-name"
                     style="text-align:center;padding-top: 15px;padding-bottom: 10px; font-size:18px; border-bottom: 2px solid #ebebeb;">
                    <a href="{topic_href_1}" class="title" title="" style="text-transform: uppercase; color:#217fab">
                        {topic_name_1}
                    </a>
                </div>
                <div class="pub-rnews-mobile">
                    <div class="pub-rnews-item">
                        <a class="pub-rnews-img" href="{topic_href_2}">
                            <img
                                    src="{topic_img_2}" style="height: 120px; width: 145px; border: 1px solid #ebebeb;">
                        </a>
                        <a class="title15" href="{topic_href_2}"><font
                                style="font-size: 10px">{topic_desc_2}</font><br/>{topic_name_2}
                        </a>

                    </div>
                    <div class="pub-rnews-item">
                        <a class="pub-rnews-img" href="{topic_href_3}">
                            <img src="{topic_img_3}" style="height: 120px;  width: 145px;border: 1px solid #ebebeb;">
                        </a>
                        <a class="title15" href="{topic_href_3}"><font style="font-size: 10px">{topic_desc_3}</font>
                            <br/>{topic_name_3}
                        </a>

                    </div>
                    <div class="pub-rnews-item">
                        <a class="pub-rnews-img" href="{topic_href_4}">
                            <img src="{topic_img_4}" style="height: 120px; width: 145px;border: 1px solid #ebebeb;">
                        </a>
                        <a class="title15" href="{topic_href_4}"><font style="font-size: 10px">{topic_desc_4}</font>
                            <br/>{topic_name_4}
                        </a>

                    </div>
                    <div class="pub-rnews-item">
                        <a class="pub-rnews-img" href="{topic_href_5}">
                            <img src="{topic_img_5}" style="height: 120px; width: 145px;border: 1px solid #ebebeb;">
                        </a>
                        <a class="title15" href="{topic_href_5}"><font
                                style="font-size: 10px">{topic_desc_5}</font><br/>{topic_name_5}
                        </a>

                    </div>
                    <div class="pub-rnews-item">
                        <a class="pub-rnews-img" href="{topic_href_6}">
                            <img src="{topic_img_6}" style="height: 120px; width: 145px;border: 1px solid #ebebeb;">
                        </a>
                        <a class="title15" href="{topic_href_6}"><font
                                style="font-size: 10px">{topic_desc_6}</font><br/>{topic_name_6}
                        </a>

                    </div>
                </div>

            </div>
            <div class="cn-news ac-news">
                <div class="hdb-news">
                    <h5 class="hdb-news">
                        <a href="/hoat-dong-nganh/">Tòa án</a>
                    </h5>
                    <a href="hoat-dong-nganh.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png"
                                                                        alt="rss"/></a>
                </div>
                <div class="cn-news-hotitem">
                    <a href="{href_ta1}" class="cn-news-img" title="{html_title_ta1}">
                        <img src="{img_ta1}" alt="{html_title_ta1}" title="{html_title_ta1}"/>
                    </a>
                    <a href="{href_ta1}" class="titleb18" title="{html_title_ta1}">{title_ta1}</a>
                </div>
                <div class="cn-news-item">
                    <ul>
                        <li>
                            <a href="{href_ta2}" class="title15" title="{html_title_ta2}">
                                {title_ta2}
                            </a>
                        </li>
                        <li>
                            <a href="{href_ta3}" class="title15" title="{html_title_ta3}">
                                {title_ta3}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Tâm điểm dư luận-->
            <div class="hdp-news">
                <h5 class="hdp-news"><a href="/tam-diem-du-luan/">Tâm điểm dư luận</a></h5>
                <a href="tam-diem-du-luan.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png"
                                                                     alt=""/></a>
                <div class="clear"></div>
                <div class="hdp-news-description">
                    <a href="{href_gocnhin}" class="hdp-news-img" title="{html_title_gocnhin}">
                        <img src="{img_gocnhin}" alt="{html_title_gocnhin}" align="right"/>
                    </a>
                    <a href="{href_gocnhin}" class="titleb18" title="{html_title_gocnhin}">{title_gocnhin}</a>
                    <div class="">
                        {desc_gocnhin}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!--Hoạt động tòa án-->
        </div>
        <div class="clear"></div>
        <div class="right-mobile" style="margin: 5px 0px 5px 0px; overflow:hidden">
            <style>
                .marquee {
                    height: 100px;
                    width: 380px;
                    overflow: hidden;
                    position: relative;
                    margin-bottom: 10px;
                }

                .marquee div {
                    display: block;
                    width: 200%;
                    height: 100px;

                    position: absolute;
                    overflow: hidden;

                    animation: marquee 10s linear infinite;
                }

                .marquee span {
                    float: left;
                    width: 50%;
                }

                @keyframes marquee {
                    0% {
                        left: 0;
                    }
                    100% {
                        left: -100%;
                    }
                }
            </style>
            <div class="marquee">
                <div>
                    <span>
                    <a href="492/phong-chong-tham-nhung/">
                        <img style="width: 185px; height: 100px"
                             src="webskins/skins/news/images/THAMNHUNG-TIEUCUC-300-180.png"/>
                    </a>
                    <a href="488/xay-dung-nha-nuoc-phap-quyen/">
                        <img style="width: 185px; height: 100px"
                             src="webskins/skins/news/images/XayDung-NNPQ-300-180.png"/>
                    </a>
                    <a href="490/cai-cach-tu-phap/">
                        <img style="width: 185px; height: 100px"
                             src="webskins/skins/news/images/CaiCachTuPhap-300-180.png"/>
                    </a>
                    </span>
                    <span>
                    <a href="492/phong-chong-tham-nhung/">
                        <img style="width: 185px; height: 100px"
                             src="webskins/skins/news/images/THAMNHUNG-TIEUCUC-300-180.png"/>
                    </a>
                    <a href="488/xay-dung-nha-nuoc-phap-quyen/">
                        <img style="width: 185px; height: 100px"
                             src="webskins/skins/news/images/XayDung-NNPQ-300-180.png"/>
                    </a>
                    <a href="490/cai-cach-tu-phap/">
                        <img style="width: 185px; height: 100px"
                             src="webskins/skins/news/images/CaiCachTuPhap-300-180.png"/>
                    </a>
                    </span>
                </div>
            </div>
        </div>
        <!--Xã hội-->
        <div class="pub-news">
            <div class="popbox hdb-news">
                <h5 class="hdb-news">
                    <a href="/xa-hoi/">Xã hội</a>
                </h5>
                <a class="open" href=""></a>
                <div class="collapse">
                    <div class="box">
                        {cate_child_xh}
                        <div class="clear"></div>
                    </div>
                </div>
                {cate_child_xh}
                <a href="xa-hoi.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png" alt="rss"/></a>
            </div>
            <div class="pub-lnews">
                <div class="pub-lnews-item">
                    <a href="{href_xh1}" class="pub-lnews-img" title="{html_title_xh1}">
                        <img src="{img_xh1}" alt="{html_title_xh1}"/>
                    </a>
                    <a href="{href_xh1}" class="titleb18" title="{html_title_xh1}">{title_xh1}</a>
                    <div class="pub-lnews-description"></div>
                </div>
                <div class="pub-lnews-item">
                    <a href="{href_xh2}" class="pub-lnews-img" title="{html_title_xh2}">
                        <img src="{img_xh2}" alt="{html_title_xh2}"/>
                    </a>
                    <a href="{href_xh2}" class="title15" title="{html_title_xh2}">{title_xh2}</a>
                    <div class="pub-lnews-description">
                        {desc_xh2}
                    </div>
                </div>
                <div class="pub-lnews-item">
                    <a href="{href_xh3}" class="pub-lnews-img" title="{html_title_xh3}">
                        <img src="{img_xh3}" alt="{html_title_xh3}"/>
                    </a>
                    <a href="{href_xh3}" class="title15" title="{html_title_xh3}">{title_xh3}</a>
                    <div class="pub-lnews-description">
                        {desc_xh3}
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="pub-rnews">
                <div class="pub-rnews-item">
                    <a href="{href_xh4}" class="pub-rnews-img" title="{html_title_xh4}">
                        <img src="{img_xh4}" alt="{html_title_xh4}"/>
                    </a>
                    <a href="{href_xh4}" class="title15" title="{html_title_xh4}">
                        {title_xh4}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="pub-rnews-item">
                    <a href="{href_xh5}" class="pub-rnews-img" title="{html_title_xh5}">
                        <img src="{img_xh5}" alt="{html_title_xh5}"/>
                    </a>
                    <a href="{href_xh5}" class="title15" title="{html_title_xh5}">
                        {title_xh5}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="pub-rnews-item">
                    <a href="{href_xh6}" class="pub-rnews-img" title="{html_title_xh6}">
                        <img src="{img_xh6}" alt="{html_title_xh6}"/>
                    </a>
                    <a href="{href_xh6}" class="title15" title="{html_title_xh6}">
                        {title_xh6}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="pub-rnews-item">
                    <a href="{href_xh7}" class="pub-rnews-img" title="{html_title_xh7}">
                        <img src="{img_xh7}" alt="{html_title_xh7}"/>
                    </a>
                    <a href="{href_xh7}" class="title15" title="{html_title_xh7}">
                        {title_xh7}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="pub-rnews-item">
                    <a href="{href_xh8}" class="pub-rnews-img" title="{html_title_xh8}">
                        <img src="{img_xh8}" alt="{html_title_xh8}"/>
                    </a>
                    <a href="{href_xh8}" class="title15" title="{html_title_xh8}">
                        {title_xh8}
                    </a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!--Pháp đình-->
        <div class="pub-news tpl-news">
            <div class="popbox hdb-news">
                <h5 class="hdb-news">
                    <a href="/phap-dinh/">Pháp đình</a>
                </h5>
                <a class="open" href=""></a>
                <div class="collapse">
                    <div class="box">
                        {cate_child_pd}
                        <div class="clear"></div>
                    </div>
                </div>
                {cate_child_pd}
                <a href="phap-dinh.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png" alt=""/></a>
            </div>
            <div class="pub-lnews">
                <div class="pub-lnews-item">
                    <a href="{href_pd1}" class="pub-lnews-img" title="{title_html_pd1}">
                        <img src="{img_pd1}" alt="{title_html_pd1}" title="{title_html_pd1}"/>
                    </a>
                    <a href="{href_pd1}" class="titleb18" title="{title_html_pd1}">{title_pd1}</a>
                    <div class="pub-lnews-description">
                        {desc_pd1}
                    </div>
                </div>
            </div>
            <div class="pub-rnews">
                <div class="pub-rnews-tlist">
                    <div class="pub-rnews-tlist-item">
                        <a href="{href_pd2}" class="pub-rnews-tlist-img" title="{title_html_pd2}">
                            <img src="{img_pd2}" alt="{title_html_pd2}"/>
                        </a>
                        <a href="{href_pd2}" class="title15" title="{title_html_pd2}">
                            {title_pd2}
                        </a>
                    </div>
                    <div class="pub-rnews-tlist-item">
                        <a href="{href_pd3}" class="pub-rnews-tlist-img" title="{title_html_pd3}">
                            <img src="{img_pd3}" alt="{title_html_pd3}"/>
                        </a>
                        <a href="{href_pd3}" class="title15" title="{title_html_pd3}">
                            {title_pd3}
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="pub-rnews-ulist">
                    <ul>
                        <li><a href="{href_pd4}" class="title15" title="{title_html_pd4}">{title_pd4}</a></li>
                        <li><a href="{href_pd5}" class="title15" title="{title_html_pd5}">{title_pd5}</a></li>
                        <li><a href="{href_pd6}" class="title15" title="{title_html_pd6}">{title_pd6}</a></li>
                    </ul>
                </div>

            </div>
            <div class="clear"></div>
        </div>
        <style>
            @media all and (min-width: 320px) {
                video {
                    width: 320px;
                    padding-bottom: 5px;
                }
            }

            @media all and (min-width: 360px) {
                video {
                    width: 360px;
                    padding-bottom: 5px;
                }
            }

            @media all and (min-width: 768px) {
                video {
                    width: 380px;
                    padding-bottom: 5px;
                }

                .marquee {
                    height: 100px;
                    width: 740px;
                    overflow: hidden;
                    position: relative;
                    margin-bottom: 10px;
                }

                a.hot-leftnews-img img {
                    height: 150px;
                }

                #hot-leftnews-content {
                }

            }

            @media all and (min-width: 1130px) {
                video {
                    width: 460px;
                    padding-bottom: 5px;
                }

                #hot-leftnews-content {
                }
            }
        </style>
        <div class="pub-news tpl-news">
            <div class="popbox hdb-news">
                <h5 class="hdb-news">
                    <a href="http://tv.congly.vn">TV Công lý</a>
                </h5>
            </div>
            <div class="pub-lnews">
                <div class="pub-lnews-item">
                    <video controls playsinline poster="{poster}">
                        <source src="{srctv.congly.com.vn1}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <a href="{href_tv.congly.com.vn1}" class="titleb18" title="{html_title_tv.congly.com.vn1}">{title_tv.congly.com.vn1}</a>
                </div>
            </div>
            <div class="pub-rnews">
                <div class="pub-rnews-ulist">
                    <ul>
                        <li style="border-bottom: 1px solid #ebebeb; padding-bottom: 5px;">
                            <a href="{href_tv.congly.com.vn2}" target="_blank" class="title15"
                               title="{html_title_tv.congly.com.vn2}">{title_tv.congly.com.vn2}</a>
                        </li>
                        <li style="border-bottom: 1px solid #ebebeb; padding: 5px 0 5px 0px">
                            <a href="{href_tv.congly.com.vn3}" target="_blank" class="title15"
                               title="{html_title_tv.congly.com.vn3}">{title_tv.congly.com.vn3}</a>
                        </li>
                        <li style="border-bottom: 1px solid #ebebeb; padding: 5px 0 5px 0px;">
                            <a href="{href_tv.congly.com.vn4}" target="_blank" class="title15"
                               title="{html_title_tv.congly.com.vn4}">{title_tv.congly.com.vn4}</a>
                        </li>
                        <li style="border-bottom: 1px solid #ebebeb; padding: 5px 0 5px 0px;">
                            <a href="{href_tv.congly.com.vn5}" target="_blank" class="title15"
                               title="{html_title_tv.congly.com.vn5}">{title_tv.congly.com.vn5}</a>
                        </li>
                        <li style="border-bottom: 1px solid #ebebeb; padding: 5px 0 5px 0px;">
                            <a href="{href_tv.congly.com.vn6}" target="_blank" class="title15"
                               title="{html_title_tv.congly.com.vn6}">{title_tv.congly.com.vn6}</a>
                        </li>
                        <li style="padding-top: 5px">
                            <a href="{href_tv.congly.com.vn7}" target="_blank" class="title15"
                               title="{html_title_tv.congly.com.vn7}">{title_tv.congly.com.vn7}</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="clear"></div>
        </div>
        <!--Pháp luật-->
        <div class="pub-news rul-news">
            <div class="popbox hdb-news">
                <h5 class="hdb-news">
                    <a href="/phap-luat/">Pháp luật</a>
                </h5>
                <a class="open" href=""></a>
                <div class="collapse">
                    <div class="box">
                        {cate_child_pl}
                        <div class="clear"></div>
                    </div>
                </div>
                {cate_child_pl}
                <a href="phap-luat.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png" alt="rss"/></a>
            </div>
            <div class="pub-lnews">
                <div class="pub-lnews-item">
                    <a href="{href_pl1}" class="pub-lnews-img" title="{title_html_pl1}">
                        <img src="{img_pl1}" alt="{title_html_pl1}"/>
                    </a>
                    <a href="{href_pl1}" class="titleb18" title="{title_html_pl1}">{title_pl1}</a>
                    <div class="pub-lnews-description">
                        {desc_pl1}
                    </div>
                </div>
            </div>
            <div class="pub-rnews">
                <div class="pub-rnews-item">
                    <a href="{href_pl2}" class="pub-rnews-img" title="{title_html_pl2}">
                        <img src="{img_pl2}" alt="{title_html_pl2}"/>
                    </a>
                    <a href="{href_pl2}" class="title15" title="{title_html_pl2}">
                        {title_pl2}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="pub-rnews-item">
                    <a href="{href_pl3}" class="pub-rnews-img" title="{title_html_pl3}">
                        <img src="{img_pl3}" alt="{title_html_pl3}"/>
                    </a>
                    <a href="{href_pl3}" class="title15" title="{title_html_pl3}">
                        {title_pl3}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="pub-rnews-item">
                    <a href="{href_pl4}" class="pub-rnews-img" title="{title_html_pl4}">
                        <img src="{img_pl4}" alt="{title_html_pl4}"/>
                    </a>
                    <a href="{href_pl4}" class="title15" title="{title_html_pl4}">
                        {title_pl4}
                    </a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="pub-news tpl-news">
            <div class="popbox hdb-news">
                <h5 class="hdb-news">
                    <a href="/ban-doc/">Bạn đọc</a>
                </h5>
                <a class="open" href=""></a>
                <div class="collapse">
                    <div class="box">
                        {cate_child_bd}
                        <div class="clear"></div>
                    </div>
                </div>
                {cate_child_bd}
                <a href="ban-doc.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png" alt=""/></a>
            </div>
            <div class="pub-lnews">
                <div class="pub-lnews-item">
                    <a href="{href_bd1}" class="pub-lnews-img">
                        <img src="{img_bd1}" alt="{title_html_bd1}" title="{title_html_bd1}"/>
                    </a>
                    <a href="{href_bd1}" class="titleb18" title="{title_html_bd1}">{title_bd1}</a>
                    <div class="pub-lnews-description">
                        {desc_bd1}
                    </div>
                </div>
            </div>
            <div class="pub-rnews">
                <div class="pub-rnews-tlist">
                    <div class="pub-rnews-tlist-item">
                        <a href="{href_bd2}" class="pub-rnews-tlist-img" title="{title_html_bd2}">
                            <img src="{img_bd2}"/>
                        </a>
                        <a href="{href_bd2}" class="title15">
                            {title_bd2}
                        </a>
                    </div>
                    <div class="pub-rnews-tlist-item">
                        <a href="{href_bd3}" class="pub-rnews-tlist-img" title="{title_html_bd3}">
                            <img src="{img_bd3}"/>
                        </a>
                        <a href="{href_bd3}" class="title15" title="{title_html_bd3}">
                            {title_bd3}
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="pub-rnews-ulist">
                    <ul>
                        <li><a href="{href_bd4}" class="title15" title="{title_html_bd4}">{title_bd4}</a></li>
                        <li><a href="{href_bd5}" class="title15" title="{title_html_bd5}">{title_bd5}</a></li>
                    </ul>
                </div>

            </div>
            <div class="clear"></div>
        </div>
        <!--Văn hóa - giải trí-->
        <div class="pub-news rul-news">
            <div class="popbox hdb-news">
                <h5 class="hdb-news">
                    <a href="/giai-tri/">Giải trí</a>
                </h5>
                <a class="open" href=""></a>
                <div class="collapse">
                    <div class="box">
                        {cate_child_gt}
                        <div class="clear"></div>
                    </div>
                </div>
                {cate_child_gt}
                <a href="the-gioi.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png"
                                                             alt="rss"/></a>
            </div>
            <div class="pub-lnews">
                <div class="pub-lnews-item">
                    <a href="{href_gt1}" class="pub-lnews-img" title="{title_html_gt1}">
                        <img src="{img_gt1}" alt="{title_html_gt1}"/>
                    </a>
                    <a href="{href_gt1}" class="titleb18" title="{title_html_gt1}">{title_gt1}</a>
                    <div class="pub-lnews-description">
                        {desc_gt1}
                    </div>
                </div>
            </div>
            <div class="pub-rnews">
                <div class="pub-rnews-item">
                    <a href="{href_gt2}" class="pub-rnews-img" title="{title_html_gt2}">
                        <img src="{img_gt2}" alt="{title_html_gt2}"/>
                    </a>
                    <a href="{href_gt2}" class="title15" title="{title_html_gt2}">
                        {title_gt2}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="pub-rnews-item">
                    <a href="{href_gt3}" class="pub-rnews-img" title="{title_html_gt3}">
                        <img src="{img_gt3}" alt="{title_html_gt3}"/>
                    </a>
                    <a href="{href_gt3}" class="title15" title="{title_html_gt3}">
                        {title_gt3}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="pub-rnews-item">
                    <a href="{href_gt4}" class="pub-rnews-img" title="{title_html_gt4}">
                        <img src="{img_gt4}" alt="{title_html_gt4}"/>
                    </a>
                    <a href="{href_gt4}" class="title15" title="{title_html_gt4}">
                        {title_gt4}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="pub-rnews-item">
                    <a href="{href_gt5}" class="pub-rnews-img" title="{title_html_gt5}">
                        <img src="{img_gt5}" alt="{title_html_gt5}"/>
                    </a>
                    <a href="{href_gt5}" class="title15" title="{title_html_gt5}">
                        {title_gt5}
                    </a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!--Truyền hình công lý-->
        <div class="kinhte-wrapper">
            <!-- Y te -->
            <div class="tek-news">
                <div class="hdb-news">
                    <h5 class="hdb-news">
                        <a href="/xa-hoi/suc-khoe/">Y tế</a>
                    </h5>
                    <a href="suc-khoe.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png"
                                                                 alt="rss"/></a>
                </div>
                <div class="mess-fnews mess-fnews-active">
                    <a href="{href_sk1}" class="mess-fnews-img" title="{html_title_sk1}">
                        <img src="{img_sk1}" alt="{html_title_sk}" title="{html_title_sk1}"/>
                    </a>
                    <a href="{href_sk1}" class="titleb18" title="{html_title_sk1}">{title_sk1}</a>
                    <div class="clear"></div>
                </div>
                <div class="mess-news-list">
                    <ul>
                        <li><a href="{href_sk2}" class="title15" title="{html_title_sk2}">{title_sk2}</a></li>
                        <li><a href="{href_sk3}" class="title15" title="{html_title_sk3}">{title_sk3}</a></li>
                        <li><a href="{href_sk4}" class="title15" title="{html_title_sk4}">{title_sk4}</a></li>
                    </ul>
                </div>
            </div>
            <div class="tek-news">
                <div class="hdb-news">
                    <h5 class="hdb-news">
                        <a href="/xa-hoi/giao-duc/">Giáo dục</a>
                    </h5>
                    <a href="giao-duc.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png"
                                                                 alt="rss"/></a>
                </div>
                <div class="mess-fnews mess-fnews-active">
                    <a href="{href_gd1}" class="mess-fnews-img" title="{html_title_gd1}">
                        <img src="{img_gd1}" alt="{html_title_gd}" title="{html_title_gd1}"/>
                    </a>
                    <a href="{href_gd1}" class="titleb18" title="{html_title_gd}">{title_gd1}</a>
                    <div class="clear"></div>
                </div>
                <div class="mess-news-list">
                    <ul>
                        <li><a href="{href_gd2}" class="title15" title="{html_title_gd2}">{title_gd2}</a></li>
                        <li><a href="{href_gd3}" class="title15" title="{html_title_gd3}">{title_gd3}</a></li>
                        <li><a href="{href_gd4}" class="title15" title="{html_title_gd4}">{title_gd4}</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="clear"></div>
        <!--Kinh doanh-->
        <div class="kinhte-wrapper">
            <div class="tek-news">
                <div class="hdb-news">
                    <h5 class="hdb-news">
                        <a href="/kinh-doanh/">Kinh tế</a>
                    </h5>
                    <a href="kinh-doanh.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png"
                                                                   alt=""/></a>
                </div>
                <div class="mess-fnews mess-fnews-active">
                    <a href="{href_kd1}" class="mess-fnews-img" title="{html_title_kd1}">
                        <img src="{img_kd1}" alt="{html_title_kd1}" title="{html_title_kd1}"/>
                    </a>
                    <a href="{href_kd1}" class="titleb18" title="{html_title_kd1}">{title_kd1}</a>
                    <div class="clear"></div>
                </div>
                <div class="mess-news-list">
                    <ul>
                        <li><a href="{href_kd2}" class="title15" title="{html_title_kd2}">{title_kd2}</a></li>
                        <li><a href="{href_kd3}" class="title15" title="{html_title_kd3}">{title_kd3}</a></li>
                        <li><a href="{href_kd4}" class="title15" title="{html_title_kd4}">{title_kd4}</a></li>
                    </ul>
                </div>
            </div>
            <!-- BĐS -->
            <div class="tek-news">
                <div class="hdb-news">
                    <h5 class="hdb-news">
                        <a href="/kinh-doanh/bat-dong-san/">Bất động sản</a>
                    </h5>
                    <a href="kinh-doanh.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png"
                                                                   alt=""/></a>
                </div>
                <div class="mess-fnews mess-fnews-active">
                    <a href="{href_bds1}" class="mess-fnews-img" title="{html_title_bds1}">
                        <img src="{img_bds1}" alt="{html_title_bds1}" title="{html_title_bds1}"/>
                    </a>
                    <a href="{href_bds1}" class="titleb18" title="{html_title_bds1}">{title_bds1}</a>
                    <div class="clear"></div>
                </div>
                <div class="mess-news-list">
                    <ul>
                        <li><a href="{href_bds2}" class="title15" title="{html_title_bds2}">{title_bds2}</a></li>
                        <li><a href="{href_bds3}" class="title15" title="{html_title_bds3}">{title_bds3}</a></li>
                        <li><a href="{href_bds4}" class="title15" title="{html_title_bds4}">{title_bds4}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="clear"></div>
        <!--Thế giới-->
        <div class="pub-news rul-news">
            <div class="popbox hdb-news">
                <h5 class="hdb-news">
                    <a href="/the-gioi/">Thế giới</a>
                </h5>
                <a class="open" href=""></a>
                <div class="collapse">
                    <div class="box">
                        {cate_child_tg}
                        <div class="clear"></div>
                    </div>
                </div>
                {cate_child_tg}
                <a href="the-gioi.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png"
                                                             alt="rss"/></a>
            </div>
            <div class="pub-lnews">
                <div class="pub-lnews-item">
                    <a href="{href_tg1}" class="pub-lnews-img" title="{title_html_tg1}">
                        <img src="{img_tg1}" alt="{title_html_tg1}"/>
                    </a>
                    <a href="{href_tg1}" class="titleb18" title="{title_html_tg1}">{title_tg1}</a>
                    <div class="pub-lnews-description">
                        {desc_tg1}
                    </div>
                </div>
            </div>
            <div class="pub-rnews">
                <div class="pub-rnews-item">
                    <a href="{href_tg2}" class="pub-rnews-img" title="{title_html_tg2}">
                        <img src="{img_tg2}" alt="{title_html_tg2}"/>
                    </a>
                    <a href="{href_tg2}" class="title15" title="{title_html_tg2}">
                        {title_tg2}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="pub-rnews-item">
                    <a href="{href_tg3}" class="pub-rnews-img" title="{title_html_tg3}">
                        <img src="{img_tg3}" alt="{title_html_tg3}"/>
                    </a>
                    <a href="{href_tg3}" class="title15" title="{title_html_tg3}">
                        {title_tg3}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="pub-rnews-item">
                    <a href="{href_tg4}" class="pub-rnews-img" title="{title_html_tg4}">
                        <img src="{img_tg4}" alt="{title_html_tg4}"/>
                    </a>
                    <a href="{href_tg4}" class="title15" title="{title_html_tg4}">
                        {title_tg4}
                    </a>
                    <div class="clear"></div>
                </div>
                <div class="pub-rnews-item">
                    <a href="{href_tg5}" class="pub-rnews-img" title="{title_html_tg5}">
                        <img src="{img_tg5}" alt="{title_html_tg5}"/>
                    </a>
                    <a href="{href_tg5}" class="title15" title="{title_html_tg5}">
                        {title_tg5}
                    </a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="kinhte-wrapper">
            <div class="tek-news">
                <div class="hdb-news">
                    <h5 class="hdb-news">
                        <a href="/cong-nghe/">Công nghệ</a>
                    </h5>
                    <a href="cong-nghe.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png"
                                                                  alt=""/></a>
                </div>
                <div class="mess-fnews mess-fnews-active">
                    <a href="{href_cn1}" class="mess-fnews-img" title="{html_title_cn1}">
                        <img src="{img_cn1}" alt="{html_title_kd1}" title="{html_title_cn1}"/>
                    </a>
                    <a href="{href_cn1}" class="titleb18" title="{html_title_cn1}">{title_cn1}</a>
                    <div class="clear"></div>
                </div>
                <div class="mess-news-list">
                    <ul>
                        <li><a href="{href_cn2}" class="title15" title="{html_title_cn2}">{title_cn2}</a></li>
                        <li><a href="{href_cn3}" class="title15" title="{html_title_cn3}">{title_cn3}</a></li>
                        <li><a href="{href_cn4}" class="title15" title="{html_title_cn4}">{title_cn4}</a></li>
                    </ul>
                </div>
            </div>
            <!-- Thể thao -->
            <div class="tek-news">
                <div class="hdb-news">
                    <h5 class="hdb-news">
                        <a href="/the-thao/">Thể thao</a>
                    </h5>
                    <a href="the-thao.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png"
                                                                 alt=""/></a>
                </div>
                <div class="mess-fnews mess-fnews-active">
                    <a href="{href_tt1}" class="mess-fnews-img" title="{html_title_tt1}">
                        <img src="{img_tt1}" alt="{html_title_tt1}" title="{html_title_tt1}"/>
                    </a>
                    <a href="{href_tt1}" class="titleb18" title="{html_title_bds1}">{title_tt1}</a>
                    <div class="clear"></div>
                </div>
                <div class="mess-news-list">
                    <ul>
                        <li><a href="{href_tt2}" class="title15" title="{html_title_tt2}">{title_tt2}</a></li>
                        <li><a href="{href_tt3}" class="title15" title="{html_title_tt3}">{title_tt3}</a></li>
                        <li><a href="{href_tt4}" class="title15" title="{html_title_tt4}">{title_tt4}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="adv-mobile">
            <a href="#">
                <img width="100%" src="https://congly.vn/data/adv/2013/6/huong-dan-thu-tuc1-ds1-copy-ok.gif">
            </a>
        </div>
    </div>
    <div class="content-right">
        <div class="advertising-right1">
            <div class="hdb-news">
                <h5 class="hdb-news">
                    <marquee><a>HOẠT ĐỘNG CỦA LÃNH ĐẠO TÒA ÁN NHÂN DÂN TỐI CAO</a></marquee>
                </h5>
            </div>
            <div class="image main_image" style="margin-bottom: -10px">
                <a href="{topic_href_1}"><img
                        src="{topic_img_1}"
                        width="300px"/></a>
            </div>
            <div class="list-name" style="padding-left: 15px; border-bottom: 2px solid #ebebeb;">
                <a href="{topic_href_1}" class="title" title="{topic_name_1}" style=" text-transform: uppercase;">
                    <font style="font-size: 10px">{topic_desc_1}</font> <br/>{topic_name_1}
                </a>
            </div>
            <div class="pub-rnews">
                <div class="pub-rnews-item">
                    <a class="pub-rnews-img"
                       style="height: 120px;width: 145px;border-radius:5%; border:2px solid #ebebeb;"
                       href="{topic_href_2}">
                        <img src="{topic_img_2}" style="height: 120px;width: 145px">
                    </a>
                    <a class="title15" style="font-size: 13px; font-weight: bold" href="{topic_href_2}">
                        <font style="font-size: 10px">{topic_desc_2}</font>
                        <br/>
                        {topic_name_2}
                    </a>
                </div>
                <div class="pub-rnews-item">
                    <a class="pub-rnews-img" style="height: 120px;width: 150px" href="{topic_href_3}">
                        <img src="{topic_img_3}"
                             style="height: 120px;width: 145px;border-radius:5%; border:2px solid #ebebeb;">
                    </a>
                    <a class="title15" style="font-size: 13px; font-weight: bold" href="{topic_href_3}">
                        <font style="font-size: 10px">{topic_desc_3}</font> <br/>
                        {topic_name_3}
                    </a>
                </div>
                <div class="pub-rnews-item">
                    <a class="pub-rnews-img" style="height: 120px;width: 150px" href="{topic_href_4}">
                        <img src="{topic_img_4}"
                             style="height: 120px;width: 145px;border-radius:5%; border:2px solid #ebebeb;">
                    </a>
                    <a class="title15" style="font-size: 13px; font-weight: bold" href="{topic_href_4}">
                        <font style="font-size: 10px">{topic_desc_4}</font><br/>
                        {topic_name_4}
                    </a>
                </div>
                <div class="pub-rnews-item">
                    <a class="pub-rnews-img" style="height: 120px;width: 150px" href="{topic_href_5}">
                        <img src="{topic_img_5}"
                             style="height: 120px;width: 145px;border-radius:5%; border:2px solid #ebebeb;">
                    </a>
                    <a class="title15" style="font-size: 13px; font-weight: bold" href="{topic_href_5}">
                        <font style="font-size: 10px">{topic_desc_5}</font> <br/>
                        {topic_name_5}
                    </a>
                </div>
                <div class="pub-rnews-item">
                    <a class="pub-rnews-img" style="height: 120px;width: 155px">
                        <img src="{topic_img_6}"
                             style="height: 120px;width: 145px;border-radius:5%; border:2px solid #ebebeb;"
                             href="{topic_href_6}"/>
                    </a>
                    <a class="title15" style="font-size: 13px; font-weight: bold" href="{topic_href_6}">
                        <font style="font-size: 10px">{topic_desc_6}</font> <br/>
                        {topic_name_6}
                    </a>
                </div>
            </div>
        </div>
        <div class="advertising-right"><a href="488/xay-dung-nha-nuoc-phap-quyen/">
            <img style="margin: 0px 0px 10px 0px"
                 width="300px"
                 src="webskins/skins/news/images/XayDung-NNPQ-300-180.png"></a>
        </div>
        <div class="advertising-right"><a href="490/cai-cach-tu-phap/"><img style="margin: 0px 0px 10px 0px"
                                                                            width="300px"
                                                                            src="webskins/skins/news/images/CaiCachTuPhap-300-180.png"></a>
        </div>
        <div class="advertising-right"><a href="492/phong-chong-tham-nhung/"><img style="margin: 0px 0px 10px 0px"
                                                                                  src="webskins/skins/news/images/THAMNHUNG-TIEUCUC-300-180.png"></a>
        </div>
        <div class="advertising-right" id="show_adv_1"></div>
        <div class="advertising-right"><img style="margin: 0px 0px 10px 0px" width="300px"
                                            src="https://asset.1cdn.vn/cly/upload/Booking-300x300_CongLy.png"></div>
        <div class="advertising-right"><img style="margin: 0px 0px 10px 0px" width="300px"
                                            src="webskins/skins/news/images/ccxl-1400.png"></div>
        <div class="hot-brnews">
            <h5 class="hot-brnews">Website liên kết</h5>
            <div class="hot-brnews-list">
                <a href="https://toaan.gov.vn" target="_blank">TÒA ÁN NHÂN DÂN TỐI CAO</a><br/>
            </div>
        </div>
        <div class="hot-brnews" style="display: none">
            <h5 class="hot-brnews">Bạn đọc quan tâm</h5>
            <div class="hot-brnews-list">
                <!-- BEGIN Hit -->
                <div class="hot-brnews-item">
                    <a href="{href_hit}" class="hot-brnews-img" title="{html_title_hit}">
                        <img src="{img_hit}" alt="{html_title_hit}">
                    </a>
                    <a href="{href_hit}" class="title15" title="">{title_hit}</a>
                    <div class="clear"></div>
                </div>
                <!-- END Hit -->
            </div>
        </div>
        <div class="advertising-right" id="show_adv_2" style="height:1200px;overflow-y:scroll; overflow-x:hidden"></div>

        <div class="advertising-right">

        </div>
    </div>
    <div class="clear"></div>
</div>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>

    $('.pub-rnews-mobile').slick({
        infinite: true,
        slidesToShow: 2,
        slidesToScroll: 2,
        arrows: true,
        prevArrow: "<button type='button' class='slick-prev pull-left'><i class='fa fa-angle-left' aria-hidden='true'></i></button>",
        nextArrow: "<button type='button' class='slick-next pull-right'><i class='fa fa-angle-right' aria-hidden='true'></i></button>"
    });

</script>
