<div class="banner_adv_center"></div>
<div class="content-left">
	<div class="popbox" style="width: 100%;">
		<div class="breadcrumb">
			<div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumble_title breadcrumble_home">
				<a itemprop="url" href="/" rel="nofollow" class="breadcrumble_title">Trang chủ</a>
			</div>
			<div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumble_title">
				<h1 style="margin: 0px; padding: 0px" ><a itemprop="url" rel="nofollow" class="breadcrumble_title">Sự kiện trong ngày</a></h1>
			</div>
			<div class="clear"></div>
		</div>
		<div class="news-listitem">
			<!-- BEGIN ListRow -->
			<div class="news-list-oneitem">
				<a href="{href}" class="news-list-oneitemimg" title="{html_title}">
					<img src="{img}" alt="{html_title}">
				</a>
				<div class="news-listroneitem">
					<a href="{href}" class="title18" title="{html_title}">{title}</a>
				</div>
				<div class="clear"></div>
			</div>
			<!-- END ListRow -->

		</div>
	</div>
</div>
<div class="pagelist">
    {paging}
</div>
<style>
	.pagelist li
	{
		list-style:none;
		float:left;
	}
</style>