<div class="content-right">
    <div class="advertising-right" id="show_adv_1">
        <a href=""><img src="webskins/skins/news/front-images/adv3.jpg" alt=""></a>
        <a href=""><img src="webskins/skins/news/front-images/adv4.jpg" alt=""></a>
        <a href="https://congly.vn/adv/dienluccaobangdetail.jpg">
            <img src="https://congly.vn/adv/dienluccaobang.jpg" alt="">
        </a>
    </div>
    <!--Tiện ích-->
    <div class="qlu-item">
        <div class="qlu-item-title">Tiện ích</div>
        <div class="qlu-item-list">
            <a href="https://congly.vn/?app=news&page=toasoan&cmd=weather" class="qlu-item weather-icon">Thời
                tiết</a>
            <a href="https://congly.vn/?app=news&page=toasoan&cmd=giavang" class="qlu-item gold-icon">Giá vàng</a>
            <a href="" class="qlu-item rate-icon">Tỉ giá ngoại tệ</a>
            <a href="https://vienthong.com.vn/cach-nap-tien-dien-thoai-online/" class="qlu-item cinema-icon"
               style="width: 97px;padding-left: 27px;">Nạp thẻ điện thoại</a>
            <a href="" class="qlu-item tv-icon">Lịch truyền hình</a>
            <a href="https://ketquaveso.com" target="_blank" class="qlu-item num-icon">Kết quả xổ số</a>
            <a href="" class="qlu-item foot-icon">Kết quả bóng đá</a>
            <a href="" class="qlu-item atm-icon">Điểm đặt ATM</a>
            <div class="clear"></div>
        </div>
    </div>
    <!--Tâm điển dư luận-->
    <div class="hdp-news">
        <h5 class="hdp-news"><a href="/goc-nhin/">Tâm điểm dư luận</a></h5>
        <a href="goc-nhin.rss" class="rss-link"><img src="webskins/skins/news/images/rss-icon.png" alt="rss"></a>
        <div class="clear"></div>
        <div class="hdp-news-description">
            <a href="{href_gocnhin}" class="hdp-news-img" title="{html_title_gocnhin}">
                <img src="{img_gocnhin}" alt="{html_title_gocnhin}" align="right">
            </a>
            <a href="{href_gocnhin}" class="titleb18" title="">{title_gocnhin}</a>
            <div class="hdp-news-odescription">
                {desc_gocnhin}
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--Bạn đọc quan tâm-->
    <div class="hot-brnews">
        <h5 class="hot-brnews">Bạn đọc quan tâm</h5>
        <div class="hot-brnews-list">
            <!-- BEGIN Hit -->
            <div class="hot-brnews-item">
                <a href="{href_hit}" class="hot-brnews-img" title="{html_title_hit}">
                    <img src="{img_hit}" alt="{html_title_hit}">
                </a>
                <a href="{href_hit}" class="title15" title="">{title_hit}</a>
                <div class="clear"></div>
            </div>
            <!-- END Hit -->
        </div>
    </div>
    <div class="google_adsense advertising-right">
    </div>
    <div class="advertising-right" id="show_adv_2">

        <a href="https://www.vietcapitalbank.com.vn/tintuc/chitiet/-/noidungtin/714544/chuong-chuong-khuyen-mai-cao-%C4%91ien-tu-gui-nho-trung-to-?utm_source=Banner_congly&utm_medium=CPD&utm_campaign=Gui_nho_Trung_to_082015"
           target="_blank"><img width="300" style="padding:5px 0px 10px 0px;"
                                src="https://congly.vn/adv/vietcapti127.jpg" alt=""></a>
        <a href="#" target="_blank"><img style="padding:0px 0px 0px 0px;" width="300"
                                         src="httpS://congly.vn/adv/300x250-gif-low-resolution.gif" alt=""></a>
        <a href="http://www.agribank.com.vn/default.aspx" target="_blank"><img style="padding:5px 0px 5px 0px;"
                                                                               width="300" height="70px"
                                                                               src="https://congly.vn/adv/AGRIBANK.jpg"
                                                                               alt=""></a>
        <a href="http://moonlightboulevard.com.vn/" target="_blank"><img style="padding:5px 0px 5px 0px;" width="300"
                                                                         src="https://congly.vn/adv/300_25063.gif"
                                                                         alt=""></a>

    </div>
</div>