<div class="content-left">
    <div class="popbox" style="width: 100%;">
        <div class="breadcrumb">
            <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumble_title breadcrumble_home">
                <a itemprop="url" href="index.php" rel="nofollow" class="breadcrumble_title">Trang chủ</a>
            </div>
            <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumble_title">
                <a itemprop="url" href="/" rel="nofollow" class="">Thông tin Tòa soạn</a>
            </div>

            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="about-content">
        <h1 class="about-htitle">Thông tin tòa soạn</h1>
        <div class="about-table">
            <div class="about-td about-tdot">Giấy phép hoạt động báo điện tử số 52/GP - BTTTT do Bộ Thông tin và Truyền thông cấp</div>
            <div class="about-td">Cơ quan chủ quản</div>
            <div class="about-td">TÒA ÁN NHÂN DÂN TỐI CAO</div>
			<div class="about-td">Tổng Biên tập</div>
            <div class="about-td">TRẦN ĐỨC VINH</div>
            <div class="about-td">Phó Tổng Biên tập</div>
            <div class="about-td">Tô Thị Lan Phương</div>
            <div class="about-td">Trụ sở chính</div>
            <div class="about-td">48A Lý Thường Kiệt, quận Hoàn Kiếm,TP Hà Nội</div>
			<div class="about-td">Báo điện tử</div>
            <div class="about-td">262 Đội Cấn, quận Ba Đình, TP Hà Nội</div>
            <div class="about-td">Thông tin liên hệ</div>
            <div class="about-td">024.38247.204/024.37379.192</div>
            <div class="about-td">Fax</div>
            <div class="about-td">024.39360.062</div>
            <div class="about-td">Hotline</div>
            <div class="about-td">0912.532.315</div>
            <div class="about-td">Email</div>
            <div class="about-td">conglydientu@congly.vn</div>
        </div>
        <div class="about-under-table">
            Bản quyền thuộc Báo điện tử Công lý. Mọi hành động sử dụng nội dung đăng tải trên Báo điện tử Công lý tại địa chỉ congly.vn phải có sự đồng ý bằng văn bản của Báo điện tử Công lý
        </div>
    </div>
    <!--Tin liên quan-->
    <div class="detail-related">
        <h4 class="detail-related-title">Tin tức mới nhất</h4>
        <div class="detail-related-list">
            <!-- BEGIN Other -->
            <div class="detail-related-item">
                <a href="{other_link}" class="detail-related-img" title="{other_html_title}">
                    <img src="{other_img}" alt="{other_html_title}" />
                </a>
                <a href="{other_link}" class="title15" title="{other_html_title}">{other_title}</a>
            </div>
            <!-- END Other -->
            <div class="clear"></div>
        </div>
    </div>
    <!--Tin tức đáng quan tâm khác-->
    <div class="offer-news">
        <div class="hdb-news">
            <h5 class="hdb-news">
                <a>Tin tức đáng quan tâm khác</a>
            </h5>
        </div>
        <div class="offer-newslist">
            <div class="offer-newslist-item">
                <h5 class="offer-newslist-title"><a href="{cate1_change_href}/">{cate1_change_name}</a></h5>
                <ul>
                    <li>
                        <a href="{href_cate11}" class="title15" title="{html_title_cate11}">
                            <img src="{img_cate11}" class="offer-newslist-img" alt="{html_title_cate11}">
                            {title_cate11}
                        </a>
                    </li>
                    <li><a href="{href_cate12}" class="title15" title="{html_title_cate12}">{title_cate12}</a></li>
                    <li><a href="{href_cate13}" class="title15" title="{html_title_cate12}">{title_cate13}</a></li>
                    <li><a href="{href_cate14}" class="title15" title="{html_title_cate12}">{title_cate14}</a></li>
                    <li><a href="{href_cate15}" class="title15" title="{html_title_cate12}">{title_cate15}</a></li>
                </ul>
            </div>
            <div class="offer-newslist-item">
                <h5 class="offer-newslist-title"><a href="{cate2_change_href}/">{cate2_change_name}</a></h5>
                <ul>
                    <li>
                        <a href="{href_cate21}" class="title15" title="{html_title_cate21}">
                            <img src="{img_cate21}" class="offer-newslist-img" alt="{html_title_cate21}">
                            {title_cate21}
                        </a>
                    </li>
                    <li><a href="{href_cate22}" class="title15" title="{html_title_cate12}">{title_cate22}</a></li>
                    <li><a href="{href_cate23}" class="title15" title="{html_title_cate12}">{title_cate23}</a></li>
                    <li><a href="{href_cate24}" class="title15" title="{html_title_cate12}">{title_cate24}</a></li>
                    <li><a href="{href_cate25}" class="title15" title="{html_title_cate12}">{title_cate25}</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>